@model SB_Admin.Entities.TrabajosOBJ
@{

    List<MetalCore.ETL.Entities.PermisosObj> listaPermisos = ViewBag.listaPermisos;

    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.MjsCrear != null)
{
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Fecha del trabajo no permitida!</strong> @ViewBag.Alert
    </div>
}

@if (ViewBag.MjsCreado != null)
{
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Trabajo Registrado!</strong> @ViewBag.Alert
    </div>

}

@if (ViewBag.MjsCrearMate != null)
{
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Material fuera de stock!</strong> @ViewBag.Alert
    </div>
}

@if (ViewBag.MjsCreadoMate != null)
{
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Material registrado!</strong> @ViewBag.Alert
    </div>

}

<div class="card shadow mb-4">


    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Registro de un nuevo trabajo</h6>

    </div>
    <!--Modal para los materiales-->
    <div class="modal fade" id="MaterialModal">

        @using (Html.BeginForm("AsignarMateriales", "Trabajo", FormMethod.Post))
        {

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary" style="color: #ffffff;">
                        <h1 class="modal-title" style=" margin: 0 120px;"> Materiales</h1>
                        <button type="button" class="close" data-dismiss="modal" arial-lable="Close">
                            <span arial-hidden="true" style="color:#ffffff;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="usuarioModal">
                            <label style="font-weight: bold;">Materiales a asignar</label>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Trabajos:</label>
                                    @Html.DropDownListFor(m => m.IdTrabajo, ViewBag.listaTrabajos as List<SelectListItem>, new { @class = "form-control" })

                                </div>

                                <br />
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label>Materiales </label>
                                    @Html.DropDownListFor(m => m.IdProducto, ViewBag.listaprodu as List<SelectListItem>, new { @onchange = "EncontrarPrecio()", @class = "form-control", @id = "IdProducto" })

                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", @type = "number", @min = "1" })
                                    @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-5">
                                <div class="form-group">
                                    <label>Precio</label>
                                    @Html.TextBoxFor(m => m.Precio, new { @class = "form-control", @type = "text", @id = "Precio", @name = "Precio", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NombreCliente, "", new { @class = "text-danger" })

                                </div>
                            </div>



                        </form>


                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg> Añadir Material
                            </button>

                        </div>

                        <div class="btn-group">
                            <form action="ConsultarAsigMateri">
                                <button type="submit" class="btn btn-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                    </svg> Materiales Asignados
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>



        }


    </div>

    <!--Modal para LA CREACION DE PDF-->

    <div class="modal fade" id="pdfModal">
        @using (Html.BeginForm("ConsultarUTrabajoPDF", "Trabajo", FormMethod.Post))
        {


            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header bg-danger" style="color: #ffffff;">
                        <h1 class="modal-title" style=" margin: 0 141px;"> Reportes</h1>
                        <button type="button" class="close" data-dismiss="modal" arial-lable="Close">
                            <span arial-hidden="true" style="color:#ffffff;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="pdfsModal">
                            <label style="font-weight: bold;">Reportes de control del personal</label>
                            <br />
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.Label("Empleado a visualizar")
                                    @Html.DropDownListFor(m => m.IdUsuario, ViewBag.listaUsuarios as List<SelectListItem>, new { @class = "form-control" })

                                </div>


                            </div>


                        </form>


                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info" onclick="swal('¡Creando reporte!', 'Espera un momento')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                                </svg> Crear
                            </button>

                        </div>


                    </div>

                </div>
            </div>




        }

    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MaterialModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                            <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
                        </svg> Agregar Materiales
                    </a>
                </p>
            </div>
        </div>
        <!--PDF-->
        <div class="row">
            <div class="col-12" style=" margin: 0 190px; top: -54px;">
                <p>
                    <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#pdfModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                            <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                            <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                        </svg> Crear Reporte
                    </a>
                </p>
            </div>
        </div>


        <!--Modal para los materiales-->

        @using (Html.BeginForm("RegistrarTrabajo", "Trabajo", FormMethod.Post))
        {
            <!--metodo-->
            <form id="formulario">
                <div class="row">
                    <!--para las filas-->
                    <!--se crea la columna-->
                    <div class="col-5">
                        <div class="form-group">
                            @Html.Label("Empleado a cargo")
                            @Html.DropDownListFor(m => m.IdUsuario, ViewBag.listaUsuarios as List<SelectListItem>, new { @class = "form-control" })

                        </div>

                        <br />
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Nombre del Cliente: </label>
                            @Html.TextBoxFor(m => m.NombreCliente, new { @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.NombreCliente, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Telefono Cliente: </label>
                            @Html.TextBoxFor(m => m.TelefonoCliente, new { onkeypress = "return isNumber(event)", @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.TelefonoCliente, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Fecha: </label>
                            @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Descripcion</label>
                            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Direccion</label>
                            @Html.TextAreaFor(m => m.Direccion, new { @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })


                        </div>
                    </div>


                </div>

                <br />
                <br />

                @foreach (var item in listaPermisos)
                {
                    if (item.id == 1)
                    {


                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                                        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                    </svg> Registrar trabajo
                                </button>
                            </div>
                        </div>

                    }
                }
            </form>

        }
        <div class="col-12" style=" margin: 0 160px; top: -38px;">
            <form action="Consultar">
                <button type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg> Cancelar
                </button>
            </form>
        </div>
        <!-- DataTales Example -->
    </div>
</div>

<script>
    var data = $("#formulario").serialize();

    if (!$("#formulario").valid()) {
        return false;
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>