@model SB_Admin.Entities.TrabajosOBJ
@{

    List<MetalCore.ETL.Entities.PermisosObj> listaPermisos = ViewBag.listaPermisos;

    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.MjsCrear != null)
{
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Fecha del trabajo no permitida!</strong> @ViewBag.Alert
    </div>
}

@if (ViewBag.MjsCreado != null)
{
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Trabajo Registrado!</strong> @ViewBag.Alert
    </div>

}

@if (ViewBag.MjsCrearMate != null)
{
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Material fuera de stock!</strong> @ViewBag.Alert
    </div>
}

@if (ViewBag.MjsCreadoMate != null)
{
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>!Material registrado!</strong> @ViewBag.Alert
    </div>

}

<div class="card shadow mb-4">


    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Registro de un nuevo trabajo</h6>

    </div>
    <!--Modal para los materiales-->
    <div class="modal fade" id="MaterialModal">

        @using (Html.BeginForm("AsignarMateriales", "Trabajo", FormMethod.Post))
        {

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary" style="color: #ffffff;">
                        <h1 class="modal-title" style=" margin: 0 120px;"> Materiales</h1>
                        <button type="button" class="close" data-dismiss="modal" arial-lable="Close">
                            <span arial-hidden="true" style="color:#ffffff;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="usuarioModal">
                            <label style="font-weight: bold;">Materiales a asignar</label>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Trabajos asignados:</label>
                                    @Html.DropDownListFor(m => m.IdTrabajo, ViewBag.listaTrabajos as List<SelectListItem>, new { @class = "form-control" })

                                </div>

                                <br />
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label>Materiales </label>
                                    @Html.DropDownListFor(m => m.IdProducto, ViewBag.listaprodu as List<SelectListItem>, new { @onchange = "EncontrarPrecio()", @class = "form-control", @id = "IdProducto" })

                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control", @type = "number", @min = "1" })
                                    @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-5">
                                <div class="form-group">
                                    <label>Precio</label>
                                    @Html.TextBoxFor(m => m.Precio, new { @class = "form-control", @type = "text", @id = "Precio", @name = "Precio", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.NombreCliente, "", new { @class = "text-danger" })

                                </div>
                            </div>



                        </form>


                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg> Añadir Material
                            </button>

                        </div>

                
                    </div>

                </div>
            </div>



        }

    </div>

  

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MaterialModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                            <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
                        </svg> Agregar Materiales
                    </a>
                </p>
            </div>
        </div>
     


        <!--Modal para los materiales-->

        @using (Html.BeginForm("RegistrarTrabajo", "Trabajo", FormMethod.Post))
        {
            <!--metodo-->
            <form id="formulario">
                <div class="row">
                    <!--para las filas-->
                    <!--se crea la columna-->
                    <div class="col-5">
                        <div class="form-group">
                            @Html.Label("Empleado a cargo")
                            @Html.DropDownListFor(m => m.IdUsuario, ViewBag.listaUsuarios as List<SelectListItem>, new { @class = "form-control" })

                        </div>

                        <br />
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Nombre del Cliente: </label>
                            @Html.TextBoxFor(m => m.NombreCliente, new { @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.NombreCliente, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Telefono Cliente: </label>
                            @Html.TextBoxFor(m => m.TelefonoCliente, new { onkeypress = "return isNumber(event)", @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.TelefonoCliente, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Fecha: </label>
                            @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Descripcion</label>
                            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Direccion</label>
                            @Html.TextAreaFor(m => m.Direccion, new { @class = "form-control", @type = "Text" })
                            @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })


                        </div>
                    </div>


                </div>

                <br />
                <br />

                @foreach (var item in listaPermisos)
                {
                    if (item.id == 1)
                    {


                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                                        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                    </svg> Registrar trabajo
                                </button>
                            </div>
                        </div>

                    }
                }
            </form>

        }
        <div class="col-12" style=" margin: 0 160px; top: -38px;">
            <form action="Consultar">
                <button type="submit" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg> Cancelar
                </button>
            </form>
        </div>
        <!-- DataTales Example -->
    </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>