@model MetalCore.ETL.Entities.TrabajoObj

@{
    List<MetalCore.ETL.Entities.TrabajoObj> listaTrabajos = ViewBag.listaTrabajos;

    MetalCore.ETL.Entities.UsuarioObj User = ViewBag.User;

    List<MetalCore.ETL.Entities.PermisosObj> listaPermisos = ViewBag.listaPermisos;

    //List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;

}



<h2>Trabajos</h2>
<br />

<!--Modal para LA CREACION DE PDF-->
<div class="modal fade" id="pdfModal">
    @using (Html.BeginForm("ConsultarUTrabajoPDF", "Trabajo", FormMethod.Post))
    {


        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header bg-danger" style="color: #ffffff;">
                    <h1 class="modal-title" style=" margin: 0 141px;"> Reportes</h1>
                    <button type="button" class="close" data-dismiss="modal" arial-lable="Close">
                        <span arial-hidden="true" style="color:#ffffff;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="pdfsModal">
                        <label style="font-weight: bold;">Reporte de los trabajos de un empleado</label>
                        <br />
                        <div class="col-6">
                            <div class="form-group">
                                @Html.Label("Empleado a visualizar")
                                @Html.DropDownListFor(m => m.IdUsuario, ViewBag.listaUsuarios as List<SelectListItem>, new { @class = "form-control" })

                            </div>


                        </div>


                    </form>


                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-info" onclick="swal('¡Creando reporte!', 'Espera un momento')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                                <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                                <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                            </svg> Crear Reporte
                        </button>

                    </div>


                </div>

            </div>
        </div>
    }

</div>

<!--PDF-->
<div class="row">
    <div class="col-12" style=" margin: 0 840px; top: -190px;">
        <p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#pdfModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                </svg> Reporte Trabajos
            </a>
        </p>
    </div>
</div>




<table class="table table-bordered" id="miTabla" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Trabajo</th>
        </tr>
    </thead>

    <tbody id="miBody">



        @foreach (var item in listaTrabajos)
        {


            <tr>


                @if (User.idRol == 1)
                {
                    <td>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">

                                            <div class="text-xs h5 font-weight-bold text-striped text-uppercase mb-1">  Trabajo: @item.IdTrabajo </div>
                                            <div class="text-xs  h6 font-weight-bold table-striped  mb-1">Encargado: @item.Nombre</div>
                                            <div class="text-xs  h6 mb-0 text-uppercase font-weight-bold text-gray-800">Estado: @item.Estado </div>

                                            @using (Html.BeginForm("ConsultarMaterialesXTrabajo", "Trabajo", new { idTrabajo = item.IdTrabajo }, FormMethod.Post))
                                            {
                                                <button type="submit" class="">Ver más</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
                else if (User.idUsuario == item.IdUsuario)
                {
                    <td>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">

                                            <div class="text-xs h5 font-weight-bold text-striped text-uppercase mb-1">  Trabajo: @item.IdTrabajo </div>
                                            <div class="text-xs  h6 font-weight-bold table-striped  mb-1">Encargado: @item.Nombre</div>
                                            <div class="text-xs  h6 mb-0 text-uppercase font-weight-bold text-gray-800">Estado: @item.Estado </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }

            </tr>
        }


    </tbody>

</table>

<br />
<br />


<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        console.log("Si sirve")
        $('#miTabla').DataTable();
    });

</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
